<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Needed only if your app looks for Bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_PRIVILEGED"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/valeosis_splash"
        android:label="Valeosis fitness"
        android:roundIcon="@drawable/valeosis_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneAboveFitness"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:exported="true"
            android:label="Valeosis Fitness"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.ScanQRActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.FaceRegisterActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.LoginSuccessActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.FaceListActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.SettingContainerActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.FaceImageListContainer"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".bluetooth_communication.BluetoothCommunication"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.BluetoothSettingActivity"
            android:exported="true"
            android:screenOrientation="landscape" />

        <service android:name=".service.ApplicationService" />
    </application>

</manifest>